.title_holder {
    padding: var(--spaceLG);
    text-align: center;
}
.title_text {
    font-weight: 600;
    font-size: var(--textXJumbo);
    color: var(--primaryColor);
}
.desc_text {
    font-weight: 500;
    font-size: var(--textXLG);
    color: var(--darkColor);
}
label.input{
    float: left;
    font-size: var(--textLG);
    margin-bottom: 2px;
    font-weight: 500;
    color: var(--darkColor);
}
label.error{
    font-size: var(--textXSM);
    color: var(--warningBG);
    margin: 0;
}